In [18]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import scipy
from pylab import rcParams
rcParams['figure.figsize'] = 13,6
data = pd.read_csv('Netology_A_B-testing_HW_1.csv')
pd.options.display.max_rows = 1000

In [12]:
data

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
0,0,2020-05-21,867689,12,1,1,1,no surge,1,0,20,iOS,0,business,7.982135,low
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium
101497,101497,2020-05-23,784442,1,1,1,1,no surge,1,0,40,iOS,0,economy,6.624225,medium
101498,101498,2020-05-20,232993,13,1,1,1,no surge,1,0,52,iOS,0,business,8.825188,low
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

Заказ из центра => более низкие юзерские отмены

In [39]:
data_city_center_order = data.loc[data['city_center_order'] == 1]
data_city_center_order

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
5,5,2020-05-21,139455,5,1,0,0,NaN,0,0,60,Android,1,comfort,NaN,low
6,6,2020-05-24,416988,0,1,1,0,no surge,0,0,65,iOS,1,comfort,7.535725,low
7,7,2020-05-22,682337,2,1,1,1,no surge,1,0,40,Android,1,comfort,9.055344,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101490,101490,2020-05-20,780673,20,1,1,0,surge,0,0,67,Android,1,comfort,5.439498,medium
101491,101491,2020-05-21,456333,10,1,1,1,no surge,1,0,34,Android,1,business,16.003392,high
101493,101493,2020-05-19,326217,4,1,1,1,no surge,0,1,26,iOS,1,business,14.090248,low
101494,101494,2020-05-21,203176,17,1,1,0,surge,0,0,69,iOS,1,economy,5.314341,low
101496,101496,2020-05-19,627754,2,1,1,1,surge,1,0,23,iOS,1,comfort,6.206134,medium

In [37]:
half = len(data_city_center_order['order_made']) / 2
sam1 = data_city_center_order.loc[:half, 'order_made']
sam2 = data_city_center_order.loc[half:, 'order_made']
scipy.stats.ttest_ind(sam2, sam1)

Ttest_indResult(statistic=0.22035501940471067, pvalue=0.8255954489896447)

In [38]:
dfs = (half - 1) + (half - 1)
scipy.stats.t.ppf(0.975, dfs)

1.9600048703935178

In [ ]:
"""
pvalue 0,82 больше 0,05, значит средние двух выборок равны.
табличное значение 1,96 больше statistic 0,22, значит средние двух выборок равны при условии их нормального распределения
"""

Android => более высокие юзерские отмены

In [40]:
data_android = data.loc[data['os'] == 'Android']
data_android

,Unnamed: 0,date,user_id,hour,app_opened,price_seen,order_made,surge,ride_completed,user_cancelled,age,os,city_center_order,order_class,distance,rfm
1,1,2020-05-23,752172,5,1,1,1,no surge,1,0,37,Android,1,economy,2.908468,high
2,2,2020-05-20,486559,15,1,1,1,no surge,1,0,47,Android,0,comfort,7.224614,low
3,3,2020-05-19,304024,0,1,1,1,no surge,1,0,59,Android,1,economy,1.874349,low
4,4,2020-05-23,139420,0,1,1,1,no surge,1,0,19,Android,0,business,10.704778,medium
5,5,2020-05-21,139455,5,1,0,0,NaN,0,0,60,Android,1,comfort,NaN,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101489,101489,2020-05-20,969159,22,1,0,0,NaN,0,0,67,Android,0,comfort,NaN,medium
101490,101490,2020-05-20,780673,20,1,1,0,surge,0,0,67,Android,1,comfort,5.439498,medium
101491,101491,2020-05-21,456333,10,1,1,1,no surge,1,0,34,Android,1,business,16.003392,high
101495,101495,2020-05-24,288445,16,1,1,1,no surge,1,0,29,Android,0,comfort,1.725907,high
101499,101499,2020-05-22,337225,21,1,1,1,surge,1,0,18,Android,0,economy,0.882172,medium

In [41]:
half = len(data_android['order_made']) / 2
sam1 = data_android.loc[:half, 'order_made']
sam2 = data_android.loc[half:, 'order_made']
scipy.stats.ttest_ind(sam2, sam1)

Ttest_indResult(statistic=1.5415891202577916, pvalue=0.12317905214387995)

In [42]:
dfs = (half - 1) + (half - 1)
scipy.stats.t.ppf(0.975, dfs)

1.9600058288448459

In [ ]:
"""
pvalue 0,12 больше 0,05, значит средние двух выборок равны.
табличное значение 1,96 больше statistic 1.54, значит средние двух выборок равны при условии их нормального распределения
"""